<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <link rel="stylesheet" href="template/template.css">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="https://gitlab.tetra.quest/Chiouya/trainblog">GitLab</a>
        <a href="mailto:chiouya@chiouya.cloud">Contact</a>
    </div>
    <div id="CustomBody"></div>
    <section class="legalSection" id="legal">
        <h2 style="color: white;">Legal and Contact</h2>
        <h4>
          <a href="https://chiouya.cloud/imprint.html" style="text-decoration: none; color: white;">imprint</a> &VerticalLine; <a href="https://chiouya.cloud/privacy.html" style="text-decoration: none; color: white;">privacy</a>  &VerticalLine; <a href="#" style="text-decoration: none; color: white;">go up</a>
        </h4>
      </section>
</body>

</html>